<div id="intro" class="s-intro target-section">

    <div class="row intro-content">

        <div class="column large-9 mob-full intro-text">
            <h3>Hello, I'm Jofel Jimeno</h3>
            <h1>
                Software Engineer <br>
                and Full Stack Developer 
            </h1>
        </div>

        <div class="intro-scroll">
            <a href="#about" class="intro-scroll-link smoothscroll">
                Scroll For More
            </a>
        </div>

        <div class="intro-grid"></div>
        <div class="intro-pic"></div>

    </div> 

</div> 