

/* ===================================================================
 * # intro 
 *
 * ------------------------------------------------------------------- */
 .s-intro {
    width: 100%;
    //height: 100vh;
    //min-height: 792px;
    background-color: #050505;
    height: 100%;
  }
  
  .intro-content {
    height: 100%;
    max-width: 1140px;
    //padding-top: 20vh;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
  
  .intro-pic {
    background-color: #02182c;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../../assets/images/hero-pic.jpg);
    background-size: cover;
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 50%;
  }
  
  .intro-pic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .2;
  }
  
  .intro-grid {
    background-image: url(../../assets/images/pattern-dot-grid.svg);
    background-size: 24px 24px;
    opacity: .15;
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 30%;
  }
  
  .intro-text {
    -webkit-transform: translate3d(0, -3.6rem, 0);
    transform: translate3d(0, -3.6rem, 0);
    position: static;
    z-index: 1;
  }
  
  .intro-text h3 {
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.333;
    color: #cf1767;
    margin-top: 0;
  }
  
  .intro-text h1 {
    font-size: 7.8rem;
    font-weight: 500;
    line-height: 1.179;
    color: #ffffff;
    margin-top: 0;
  }
  
  .intro-scroll {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: .3rem;
    position: absolute;
    bottom: 8rem;
    left: 24px;
    z-index: 1;
  }
  
  .intro-scroll a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    padding-right: 8.8rem;
  }
  
  .intro-scroll a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    width: 72px;
    background-color: #cf1767;
  }
  
  /* ------------------------------------------------------------------- 
   * responsive:
   * intro
   * ------------------------------------------------------------------- */
  @media screen and (max-width:1400px) {
    .intro-text h3 {
      font-size: 2.2rem;
    }
  
    .intro-text h1 {
      font-size: 7.2rem;
    }
  
  }
  
  @media screen and (max-width:1200px) {
    .intro-content {
      max-width: 1000px;
    }
  
    .intro-text h3 {
      font-size: 2rem;
    }
  
    .intro-text h1 {
      font-size: 7rem;
    }
  
  }
  
  @media screen and (max-width:1024px) {
    .s-intro {
      max-height: 800px;
    }
  
    .intro-text h1 {
      font-size: 6.2rem;
    }
  
  }
  
  @media screen and (max-width:900px) {
    .intro-text h1 {
      font-size: 6rem;
    }
  
    .intro-text br {
      display: none;
    }
  
  }
  
  @media screen and (max-width:800px) {
    .intro-content {
      width: 88%;
      padding-top: 8rem;
    }
  
    .intro-pic {
      top: 12%;
      left: 40%;
    }
  
    .intro-pic::before {
      opacity: .4;
    }
  
    .intro-grid {
      top: 20%;
      opacity: .1;
    }
  
    .intro-text h3 {
      font-size: 1.8rem;
    }
  
    .intro-text h1 {
      font-size: 5.6rem;
    }
  
  }
  
  @media screen and (max-width:700px) {
    .intro-text h1 {
      font-size: 5rem;
    }
  
    .intro-pic {
      left: 30%;
    }
  
    .intro-grid {
      left: 15%;
    }
  
  }
  
  @media screen and (max-width:600px) {
    .s-intro {
      max-height: none;
    }
  
    .intro-content {
      width: auto;
    }
  
    .intro-pic {
      left: 20%;
    }
  
    .intro-grid {
      left: 10%;
    }
  
    .intro-text {
      -webkit-transform: translate3d(0, -4.8rem, 0);
      transform: translate3d(0, -4.8rem, 0);
    }
  
    .intro-text h1 {
      font-size: 4.8rem;
    }
  
    .intro-scroll {
      font-size: 1.1rem;
      left: 30px;
    }
  
  }
  
  @media screen and (max-width:400px) {
    .s-intro {
      min-height: 656px;
    }
  
    .intro-text h1 {
      font-size: 4.5rem;
    }
  
  }
  
  @media screen and (max-width:350px) {
    .intro-text h1 {
      font-size: 4.2rem;
    }
  
  }
  
  